* {
    margin:auto;
}

body {
 background: url(giants/att_backdrop.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color: silver;
	margin-right: 100px;
	margin-left: 100px;


}

#top_right_logo {
	position: fixed;
	top: 10px;
    right: 10px;
    max-height:50%;
   	max-width: 50%;
}

#sidebar{
    position:absolute;
    top:0; 
    bottom:0; 
    left:0;
    right:50px;
    width:50px;
    background:#000;
    font-size: 25px;
}

p {
font-family: Georgia;
font-size: 4;
}
a {
    color: orange;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: orange;
}


h1 {
	font-size: 25;
	font-family: serif;
	color: black;
}
h2 {
	font-size: 12;
	font-family: sans-serif;
}
h3 {
	font-size: 12;
	font-family: sans-serif;

}
h4 {
	color: orange;
	font-size: 12;
}

#mvps{
	border: 2px solid orange;
}

.romo_news {
	border: 2px dotted silver;
}

.prospect_news{
	border: 2px solid black;
}
.blackburn_news {
	border: 2px solid white;
}